/*
	style.css

	Put your styles here. They are loaded after framework.css,
	which contains all the default layout used by publications
	as defined in the style guide:

	http://remote.bergcloud.com/developers/style_guide/

*/

body {
      width: 384px;
	  max-height: 800px;
      text-align: center;
      margin-left: 0px;
	  font-family: 'Quicksand';
    }

    .TMSContent {
	 overflow-y: hidden;
	 margin-right: 60px;
     margin-left: 60px;
     margin-top: 50px;
	 font-size: 26px;
	 font-family: 'museo sans';
    }

	.ObjShortURL {
	  position: absolute;  
	  top: 425px;
	  left: 72px;
	  font-family: 'Signika';
	  font-size: 23px;
    }

	.SubmitBlurb {
	  position: absolute;
	  top: 650px;
	  left: 0px;
	  width: 384px;
      height: 130px;
      background-color: #1E1E1E;
      color: #FFFFFF;
	  line-height: 22px;
	  font-family: 'Signika';
	  font-size: 24px;
      font-style: oblique;
	  font-weight: bold; 
	}
